<!DOCTYPE html>
<html lang='fr'>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Françoise Valette, Hypnose{% endblock %}</title>
        <meta name="description" content="Découvrez les bienfaits de l'hypnose pour améliorer votre bien-être. Je propose des séances personnalisées pour vous aider à surmonter vos défis et atteindre vos objectifs. Prenez rendez-vous dès maintenant.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="{{asset('assets/img/Logo final_no_bg.png')}}">
        <link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
        <script src="{{asset('assets/js/app.js')}}" defer></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/8d63125858.js" crossorigin="anonymous"></script>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    </head>
    <body>

    <header>
        <div class="hamburger">
            <i class="fa-solid fa-bars fa-xl"></i>
        </div>
        <nav class="nav-bar">
            <ul>
            {% set currentPath = app.request.attributes.get('_route') %}
                <li><a class="main_nav" {% if currentPath == 'app_home'  %} id="active"{% endif %} href="{{path('app_home')}}">Accueil</a></li>
                <li id="dropdown_li"><a class="main_nav drop" {% if currentPath == 'app_skill'  %} id="active"{% endif %} href="#">Compétences <i class="fa-solid fa-chevron-down"></i></a>
                <ul class="dropdown">
                {% for categorie in categories %}
                    <li><a href="{{path('app_skill', {id : categorie.id})}}">{{categorie.name}}</a></li>
                {% endfor %}
                </ul></li>
                <li><a class="main_nav" {% if currentPath == 'app_tarifs'  %} id="active"{% endif %} href="{{path('app_tarifs')}}">Tarifs</a></li>
                <li><a class="main_nav" {% if currentPath == 'app_avis'  %} id="active"{% endif %} href="{{path('app_avis')}}">Avis</a></li>
                <li><a class="main_nav" {% if currentPath == 'app_rdv'  %} id="active"{% endif %} href="{{path('app_rdv')}}">Rendez-vous</a></li>
                {% if app.user %}
                <li><a class="main_nav"{% if currentPath == 'app_logout'  %} id="active"{% endif %} href="{{path('app_logout')}}">Déconnexion</a></li>
                {% else %}
                 <li><a class="main_nav"{% if currentPath == 'app_login'  %} id="active"{% endif %} href="{{path('app_login')}}">Connexion</a></li>
                {% endif %}
                {% if app.user %}
                {% if "ROLE_ADMIN" in app.user.roles %}
                <li><a class="main_nav"href="{{path('admin')}}">Back-Office</a></li>
                {% endif %}
                {% endif %}
            </ul>
        </nav>
    </header>
    {% block body %}{% endblock %}
    <hr>
    <footer>
    <div class="flex_footer">
        <nav> 
            <ul class="footer_nav">
            {% if app.user %}
                <li><a class="main_nav" href="{{path('app_new_avis')}}">Laissez un avis</a></li>
            {% else %}
                <li><a class="main_nav" href="{{path('app_login')}}">Laissez un avis</a></li>
            {% endif %}
                <li><a class="main_nav" href="{{path('app_mentions')}}">Mentions légales</a></li>
                <li><a class="main_nav" href="{{path('app_contact')}}">Contact</a></li>
            </ul>
        </nav>
        <div class="footer_logo">
            <img src="{{asset('assets/img/web_directoy_logo.png')}}" alt="logo SNH ">
            <img src="{{asset('assets/img/label-medoucine.png')}}" alt="logo Medoucine ">
        </div>
    </div>
    </footer>
</body>
</html>
        
    </body>
</html>
